---
import "../styles/global.css";

const { title, description } = Astro.props;

const canonicalURL = 'https://git-training.at';
const siteName = 'Git Trainings in Wien, Österreich und Deutschland';
---

<!doctype html>
<html lang="de">
  <head>
    <title>{title}</title>
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:locale" content="de" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content="git training wien, git training, git training österreich, git training deutschland" />

    <meta name="google-site-verification" content="7OvHhnrgV7Wct9c5QwNoveyeqIEk_0cNZRKWStPW7tg" />
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 lg:py-16 max-w-4xl prose">
        <slot />
      </main>

      <footer class="flex-grow container border-t border-gray-200 mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-6 lg:py-8 max-w-4xl text-gray-600">
        <p>&copy; 2014-2025 Fritz Grabo und Christoph Lupprich</p>
      </footer>
    </div>
  </body>
</html>
